@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer{
  justify-content: space-between;
  padding: 5px;

}

.header {
  display: flex;
  align-content: space-between;
  top: 0;
  
  
  
}

a {
  color: black;
  text-decoration: 000000;
}

.footer {
  background-color: #eee;
  display: flex;
  align-content: space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  
}

.left-links, .right-links {
  list-style: none;
  display: flex;
  gap: 36px;
  align-items: center;
  

}
.left-links {
  justify-content: flex-start;
  
  
  
}
.right-links {
  justify-items: flex-end;
  margin-right: 15px;
}

.content {
  display: flex;
  gap: 50px;
  padding: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.input{
  display: flex;
  align-self: center;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
  gap: 10px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
