@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  align-content: space-between;
  position: relative;
  top: 0;
  gap: 50%;
  padding: 5px;
  
  
  
}

.footer {
  display: flex;
  align-items: space-between ;
  position: absolute;
  bottom: 0;
  gap: 70%;
  padding: 5px;
}

.left-links, .right-links {
  list-style: none;
  display: inline-flex;
  gap: 36px;
  

}

